{% extends "/Volumes/сан санна/untitled folder/django_DB/datab/templates/first_task/menu.html" %}

{% block pagename %} Магазин {% endblock %}

    {% block menu %}
    {{ block.super }}
    {% endblock %}

<body>
    {% block content %}
    <h3>Список игр</h3>
    <ul>
        {% for game in games %}
            <li>
                {{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }}
                <button>Купить</button>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

